html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}


tr:nth-child(even) {
    background-color: aquamarine;
}

th {
    background-color: aqua;
    font:bold
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:hover {
    background-color: #e0e0e0;
}

.bold {
    background-color:cyan;
    transition-delay:inherit;
    font-palette:dark;
}
td {
    text-align: left;
}


table {
    border-radius: 8px;
    overflow: hidden;
}


table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Times New Roman', serif;
    background-color: #f8f9fa;
    color: #212529; 
   
}

header {
    background-color: #6c757d;
}
.navbar-brand {
    color: #ffc107;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #212529; 
}

.footer {
    background-color: #343a40;
    padding: 10px 0;
    color: #ffffff; 
    position:relative;
}


.navbar-nav .nav-item:hover {
    background-color: blanchedalmond; 
    transition: background-color 0.3s ease; 
}

    .navbar-nav .nav-item:hover .nav-link {
        color: #ffffff; 
    }


.navbar-nav .nav-item.active {
    background-color: #ffc107; 
}

    .navbar-nav .nav-item.active .nav-link {
        color: #ffffff; 
    }

.table-responsive {
    overflow-x: auto;
}

.divTable {
    display: table;
    width: 100%;
    background-color: #eee;
    border-collapse: collapse;
    border: 1px solid #000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    font:bolder;
}

.divRow {
    display: table-row;
}

.divRow:nth-child(2n+1){
    background-color:aquamarine;
}

    .divRow:nth-child(2n) {
        background-color: azure;
    }

.divCell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
}

.divRow:hover {
        background-color: aqua;
        cursor: pointer;
}

.divRow:nth-child(even) .divCell {
    background-color: #f2f2f2;
}

h3 {
    text-align: center;
}

/* For mobile view */
@media (max-width: 600px) {
    .divRow {
        display: block;
        margin-bottom: 20px; /* Add margin between blocks */
    }

    .divCell {
        display: block;
        border: none;
        text-align: left;
        padding: 5px;
    }

        .divCell:hover {
            background-color: transparent; /* Remove hover background color */
        }
}

