html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    height: 100%;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(200,89,200);
    font-family: 'Times New Roman', serif;
    background-color: #f8f9fa;
    color: #212529;
    background: #70e1f5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



header {
    background-color: #6c757d;
}
.navbar-brand {
    color: #ffc107;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #212529; 
}

.footer {
    background-color: #343a40;
    padding: 10px 0;
    color: #ffffff; 
    position:relative;
}


.navbar-nav .nav-item:hover {
    background-color: blanchedalmond; 
    transition: background-color 0.3s ease; 
}

.navbar-nav .nav-item:hover .nav-link {
    color: #ffffff; 
}


.navbar-nav .nav-item.active {
    background-color: #ffc107; 
}

.navbar-nav .nav-item.active .nav-link {
    color: #ffffff; 
}

.table-responsive {
    overflow-x: auto;
}

.divTable {
    display: table;
    width: 100%;
    background-color: #eee;
    border-collapse: collapse;
    border: 1px solid #000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    font:bolder;
    padding:10px;
    margin-top:10px;
}

.divRow {
    display: table-row;
}


.divRow:nth-child(2n+1) {
    background: background: rgb(174,228,238);
    background: radial-gradient(circle, rgba(174,228,238,1) 0%, rgba(148,233,212,1) 100%);
}


.divRow:hover {
    background-color: skyblue;
}

.divCell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
}

.divRow:nth-child(even) .divCell {
    background-color: #f2f2f2;
}

h3 {
    text-align: center;
}

/* For mobile view */
@media (max-width: 600px) {
    .divRow {
        display: block;
        margin-bottom: 20px; /* Add margin between blocks */
    }
    .divRow:hover{
        background-color:skyblue;
    }
    .divCell {
        display: block;
        border: none;
        text-align: left;
        padding: 5px;
    }

    .divCell:hover {
        background-color: transparent; /* Remove hover background color */
    }
}
